* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

html, body {
    height: 90%; 
}

body {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    background: url('background.png') no-repeat center center fixed;
    background-size: cover; 
    margin: 0;
    padding: 50px; 
}

.app {
    background: ;
    width: 90%;
    max-width: 1000px; 
    height: 90%; 
    max-height: 1000px; 
    border-radius: 10px;
    padding: 100px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
    overflow-y: auto; 
    margin-top: 300px;
}

.app h1 {
    font-size: 50px;
    color: #001e4d;
    font-weight: 600;
    border-bottom: 1px solid #333;
    padding-bottom: 30px;
}

.quiz {
    padding: 10px 0;
}

.quiz h2 {
    font-size: 30px;
    color: #001e4d;
    font-weight: 600;
}

#answer-buttons {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.button {
    color: #222;
    font-weight: 500;
    width: 100%;
    border: 1px solid #222;
    padding: 10px;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s;
    font-size:20px;
}

.button:hover:not([disabled]){
    background: #222;
    color: #fff;
}
.button:disabled{
    cursor: no-drop;
}

#next-button {
    background: #001e4d;
    color: #fff;
    font-weight: 500;
    width: 300px;
    border: 0;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s;
    display: block;
    font-size:40px;

}
#home-button {
    background: #f8f9fa;
    color: #000;
    font-weight: 500;
    width: 300px;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s;
    display: block;
    font-size: 20px;
    text-align: center;
}

#home-button:hover {
    background: #e9ecef;
    color: #000;
}

